In [ ]:
Create an Empty Series

In [3]:
#Example import the pandas library and aliasing as pd
import pandas as pd
s = pd.Series()
print s

Series([], dtype: float64)

In [4]:
#Example1 import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s = pd.Series(data)
print s

0    a
1    b
2    c
3    d
dtype: object

In [5]:
#Example2 import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
data = np.array(['a','b','c','d'])
s= pd.Series(data,index=[100,101,102,103])
print s

100    a
101    b
102    c
103    d
dtype: object

In [ ]:
Create a Series from dict

In [6]:
#Ex1 import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s= pd.Series(data)
print s

a    0.0
b    1.0
c    2.0
dtype: float64

In [8]:
#Ex2 import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
data = {'a' : 0., 'b' : 1., 'c' : 2.}
s = pd.Series(data, index=['b', 'c', 'd', 'a'])
print s

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [ ]:
Create a Series from Scalar

In [9]:
#import the pandas library and aliasing as pd
import pandas as pd
import numpy as np
s = pd.Series(5, index=[0, 1, 2, 3])
print s

0    5
1    5
2    5
3    5
dtype: int64

In [ ]:
Accessing Data from Series with Position

In [10]:
#Ex1
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#retrieve the first element
print s[0]

1

In [11]:
#Ex2
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#retrieve the first three element
print s[:3]

a    1
b    2
c    3
dtype: int64

In [14]:
#Ex3
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#retrieve the last three element
print s[-3:]

c    3
d    4
e    5
dtype: int64

In [ ]:
Retrieve Data Using Label (Index)

In [15]:
#ex1
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#retrieve a single element
print s['a']

1

In [16]:
#Ex2
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#retrieve multiple elements
print s[['a','c','d']]

a    1
c    3
d    4
dtype: int64

In [17]:
#ex3
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
#retrieve multiple elements
print s['f']

KeyError: 'f'

In [ ]:
Create an Empty DataFrame

In [18]:
#Ex1 import the pandas library and aliasing as pd
import pandas as pd
df = pd.DataFrame()
print df

Empty DataFrame
Columns: []
Index: []

In [ ]:
Create a DataFrame from Lists

In [19]:
#Ex1
import pandas as pd
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print df

   0
0  1
1  2
2  3
3  4
4  5

In [20]:
#Ex2
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print df

     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13

In [21]:
#ex3
import pandas as pd
data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print df

     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0

In [ ]:
Create a DataFrame from Dict of ndarrays / Lists

In [23]:
#ex1
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],
'Age':[28,34,29,42]}
df= pd.DataFrame(data)
print df

   Age   Name
0   28    Tom
1   34   Jack
2   29  Steve
3   42  Ricky

In [24]:
#Ex2
import pandas as pd
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],
'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
print df

       Age   Name
rank1   28    Tom
rank2   34   Jack
rank3   29  Steve
rank4   42  Ricky

In [ ]:
Create a DataFrame from List of Dicts

In [25]:
#Ex1
import pandas as pd
data = [{'a': 1, 'b': 2},
        {'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print df

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [26]:
#Ex2
import pandas as pd
data = [{'a': 1, 'b': 2},
{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second'])
print df

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [27]:
#ex3
import pandas as pd
data = [{'a': 1, 'b': 2},
{'a': 5, 'b': 10, 'c': 20}]
#With two column indices, values same as dictionary keys
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])
#With two column indices with one index with other name
df2 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b1'])
print df1
print df2

        a   b
first   1   2
second  5  10
        a  b1
first   1 NaN
second  5 NaN

In [ ]:
Create a DataFrame from Dict of Series

In [28]:
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print df

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [ ]:
Column Selection

In [29]:
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print df ['one']

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [ ]:
Column Addition

In [31]:
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
# Adding a new column to an existing DataFrame object with column label by passing new series
print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print df
print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']
print df

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [ ]:
Column Deletion

In [33]:
# Using the previous DataFrame, we will delete a column
# using del function
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']),
'three' : pd.Series([10,20,30], index=['a','b','c'])}
df = pd.DataFrame(d)
print ("Our dataframe is:")
print df
# using del function
print ("Deleting the first column using DEL function:")
del df['one']
print df
# using pop function
print ("Deleting another column using POP function:")
df.pop('two')
print df

Our dataframe is:
   one  three  two
a  1.0   10.0    1
b  2.0   20.0    2
c  3.0   30.0    3
d  NaN    NaN    4
Deleting the first column using DEL function:
   three  two
a   10.0    1
b   20.0    2
c   30.0    3
d    NaN    4
Deleting another column using POP function:
   three
a   10.0
b   20.0
c   30.0
d    NaN

In [ ]:
Row Selection, Addition, and Deletion

In [ ]:
Selection by Label

In [34]:
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print df.loc['b']

one    2.0
two    2.0
Name: b, dtype: float64

In [ ]:
Selection by integer location

In [35]:
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print df.iloc[2]

one    3.0
two    3.0
Name: c, dtype: float64

In [ ]:
Slice Rows

In [36]:
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print df[2:4]

   one  two
c  3.0    3
d  NaN    4

In [ ]:
Addition of Rows

In [38]:
import pandas as pd
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=['a','b'])
df = df.append(df2)
print df

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [ ]:
Deletion of Rows

In [39]:
import pandas as pd
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=['a','b'])
df = df.append(df2)
# Drop rows with label 0
df = df.drop(0)
print df

   a  b
1  3  4
1  7  8

In [ ]:
Create Panel

In [ ]:
From 3D ndarray

In [40]:
# creating an empty panel
import pandas as pd
import numpy as np
data = np.random.rand(2,4,5)
p = pd.Panel(data)
print p

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 4 (major_axis) x 5 (minor_axis)
Items axis: 0 to 1
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 4

In [ ]:
From dict of DataFrame Objects

In [41]:
#creating an empty panel
import pandas as pd
import numpy as np
data = {'Item1' : pd.DataFrame(np.random.randn(4, 3)),
'Item2' : pd.DataFrame(np.random.randn(4, 2))}
p = pd.Panel(data)
print p

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 4 (major_axis) x 3 (minor_axis)
Items axis: Item1 to Item2
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 2

In [ ]:
Create an Empty Panel

In [42]:
#creating an empty panel
import pandas as pd
p = pd.Panel()
print p

<class 'pandas.core.panel.Panel'>
Dimensions: 0 (items) x 0 (major_axis) x 0 (minor_axis)
Items axis: None
Major_axis axis: None
Minor_axis axis: None

In [ ]:
Selecting the Data from Panel
Using Items

In [43]:
# creating an empty panel
import pandas as pd
import numpy as np
data = {'Item1' : pd.DataFrame(np.random.randn(4, 3)),
'Item2' : pd.DataFrame(np.random.randn(4, 2))}
p = pd.Panel(data)
print p['Item1']

          0         1         2
0  1.209604 -1.297990  0.430570
1  0.660963 -0.255562  0.230674
2  0.446605  0.004781 -0.144392
3  0.446652  0.013915  0.425296

In [ ]:
Using major_axis

In [44]:
# creating an empty panel
import pandas as pd
import numpy as np
data = {'Item1' : pd.DataFrame(np.random.randn(4, 3)),
'Item2' : pd.DataFrame(np.random.randn(4, 2))}
p = pd.Panel(data)
print p.major_xs(1)

      Item1     Item2
0  0.316622 -1.255776
1 -0.592702  0.271749
2 -3.203128       NaN

In [ ]:
Using minor_axis

In [45]:
# creating an empty panel
import pandas as pd
import numpy as np
data = {'Item1' : pd.DataFrame(np.random.randn(4, 3)),
'Item2' : pd.DataFrame(np.random.randn(4, 2))}
p = pd.Panel(data)
print p.minor_xs(1)

      Item1     Item2
0 -0.334661 -0.564598
1  0.505139  0.806560
2 -0.096345  1.266362
3 -1.493057  1.595072

In [ ]:
Series Basic Functionality

In [46]:
#Ex:
import pandas as pd
import numpy as np
#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4))
print s

0   -0.078810
1    2.449711
2   -0.834365
3    0.210170
dtype: float64

In [ ]:
axes

In [47]:
import pandas as pd
import numpy as np
#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4))
print ("The axes are:")
print s.axes

The axes are:
[RangeIndex(start=0, stop=4, step=1)]

In [ ]:
empty

In [48]:
import pandas as pd
import numpy as np
#Create a series with 100 random numbers
s = pd.Series(np.random.randn(4))
print ("Is the Object empty?")
print s.empty

Is the Object empty?
False

In [ ]:
ndim

In [49]:
import pandas as pd
import numpy as np
#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print s
print ("The dimensions of the object:")
print s.ndim

0   -0.494880
1    1.503137
2    0.726754
3    0.220391
dtype: float64
The dimensions of the object:
1

In [ ]:
size

In [50]:
import pandas as pd
import numpy as np
#Create a series with 4 random numbers
s = pd.Series(np.random.randn(2))
print s
print ("The size of the object:")
print s.size

0    0.557858
1    1.149285
dtype: float64
The size of the object:
2

In [ ]:
values

In [51]:
import pandas as pd
import numpy as np
#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print s
print ("The actual data series is:")
print s.values

0    1.598809
1    1.898464
2   -0.438366
3    0.521667
dtype: float64
The actual data series is:
[ 1.59880885  1.89846387 -0.43836647  0.52166712]

In [ ]:
Head & Tail

In [53]:
import pandas as pd
import numpy as np
#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print ("The original series is:")
print s
print ("The first two rows of the data series:")
print s.head(2)

The original series is:
0    0.009259
1   -1.066446
2    0.613109
3   -0.011846
dtype: float64
The first two rows of the data series:
0    0.009259
1   -1.066446
dtype: float64

In [54]:
import pandas as pd
import numpy as np
#Create a series with 4 random numbers
s = pd.Series(np.random.randn(4))
print ("The original series is:")
print s
print ("The last two rows of the data series:")
print s.tail(2)

The original series is:
0   -0.109350
1   -1.050980
2   -0.320026
3   -0.387261
dtype: float64
The last two rows of the data series:
2   -0.320026
3   -0.387261
dtype: float64

In [ ]:
DataFrame Basic Functionality

In [56]:
import pandas as pd
import numpy as np
#Create a Dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
'Age':pd.Series([25,26,25,23,30,29,23]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our data series is:")
print df

Our data series is:
   Age   Name  Rating
0   25    Tom    4.23
1   26  James    3.24
2   25  Ricky    3.98
3   23    Vin    2.56
4   30  Steve    3.20
5   29  Smith    4.60
6   23   Jack    3.80

In [ ]:
T (Transpose)

In [57]:
import pandas as pd
import numpy as np
# Create a Dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
'Age':pd.Series([25,26,25,23,30,29,23]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
# Create a DataFrame
df = pd.DataFrame(d)
print ("The transpose of the data series is:")
print df.T

The transpose of the data series is:
           0      1      2     3      4      5     6
Age       25     26     25    23     30     29    23
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [ ]:
axes

In [58]:
import pandas as pd
import numpy as np
#Create a Dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
'Age':pd.Series([25,26,25,23,30,29,23]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
#Create a DataFrame
df = pd.DataFrame(d)
print ("Row axis labels and column axis labels are:")
print df.axes

Row axis labels and column axis labels are:
[RangeIndex(start=0, stop=7, step=1), Index([u'Age', u'Name', u'Rating'], dtype='object')]

In [ ]:
dtypes

In [59]:
import pandas as pd
import numpy as np
#Create a Dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
'Age':pd.Series([25,26,25,23,30,29,23]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
#Create a DataFrame
df = pd.DataFrame(d)
print ("The data types of each column are:")
print df.dtypes

The data types of each column are:
Age         int64
Name       object
Rating    float64
dtype: object

In [ ]:
empty

In [60]:
import pandas as pd
import numpy as np
#Create a Dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
'Age':pd.Series([25,26,25,23,30,29,23]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
#Create a DataFrame
df = pd.DataFrame(d)
print ("Is the object empty?")
print df.empty

Is the object empty?
False

In [ ]:
ndim

In [61]:
import pandas as pd
import numpy as np
#Create a Dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
'Age':pd.Series([25,26,25,23,30,29,23]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print df
print ("The dimension of the object is:")
print df.ndim

Our object is:
   Age   Name  Rating
0   25    Tom    4.23
1   26  James    3.24
2   25  Ricky    3.98
3   23    Vin    2.56
4   30  Steve    3.20
5   29  Smith    4.60
6   23   Jack    3.80
The dimension of the object is:
2

In [ ]:
shape

In [62]:
import pandas as pd
import numpy as np
#Create a Dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
'Age':pd.Series([25,26,25,23,30,29,23]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print df
print ("The shape of the object is:")
print df.shape

Our object is:
   Age   Name  Rating
0   25    Tom    4.23
1   26  James    3.24
2   25  Ricky    3.98
3   23    Vin    2.56
4   30  Steve    3.20
5   29  Smith    4.60
6   23   Jack    3.80
The shape of the object is:
(7, 3)

In [ ]:
size

In [63]:
import pandas as pd
import numpy as np
#Create a Dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
'Age':pd.Series([25,26,25,23,30,29,23]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print df
print ("The total number of elements in our object is:")
print df.size

Our object is:
   Age   Name  Rating
0   25    Tom    4.23
1   26  James    3.24
2   25  Ricky    3.98
3   23    Vin    2.56
4   30  Steve    3.20
5   29  Smith    4.60
6   23   Jack    3.80
The total number of elements in our object is:
21

In [ ]:
values

In [64]:
import pandas as pd
import numpy as np
#Create a Dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
'Age':pd.Series([25,26,25,23,30,29,23]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our object is:")
print df
print ("The actual data in our data frame is:")
print df.values

Our object is:
   Age   Name  Rating
0   25    Tom    4.23
1   26  James    3.24
2   25  Ricky    3.98
3   23    Vin    2.56
4   30  Steve    3.20
5   29  Smith    4.60
6   23   Jack    3.80
The actual data in our data frame is:
[[25 'Tom' 4.23]
 [26 'James' 3.24]
 [25 'Ricky' 3.98]
 [23 'Vin' 2.56]
 [30 'Steve' 3.2]
 [29 'Smith' 4.6]
 [23 'Jack' 3.8]]

In [ ]:
Head & Tail

In [65]:
import pandas as pd
import numpy as np
#Create a Dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
'Age':pd.Series([25,26,25,23,30,29,23]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our data frame is:")
print df
print ("The first two rows of the data frame is:")
print df.head(2)

Our data frame is:
   Age   Name  Rating
0   25    Tom    4.23
1   26  James    3.24
2   25  Ricky    3.98
3   23    Vin    2.56
4   30  Steve    3.20
5   29  Smith    4.60
6   23   Jack    3.80
The first two rows of the data frame is:
   Age   Name  Rating
0   25    Tom    4.23
1   26  James    3.24

In [66]:
import pandas as pd
import numpy as np
#Create a Dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack']),
'Age':pd.Series([25,26,25,23,30,29,23]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
#Create a DataFrame
df = pd.DataFrame(d)
print ("Our data frame is:")
print df
print ("The last two rows of the data frame is:")
print df.tail(2)

Our data frame is:
   Age   Name  Rating
0   25    Tom    4.23
1   26  James    3.24
2   25  Ricky    3.98
3   23    Vin    2.56
4   30  Steve    3.20
5   29  Smith    4.60
6   23   Jack    3.80
The last two rows of the data frame is:
   Age   Name  Rating
5   29  Smith     4.6
6   23   Jack     3.8

In [ ]:
Descriptive statistics

In [67]:
#Ex
import pandas as pd
import numpy as np
#Create a Dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
'Lee','David','Gasper','Betina','Andres']),
'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}
#Create a DataFrame
df = pd.DataFrame(d)
print df

    Age    Name  Rating
0    25     Tom    4.23
1    26   James    3.24
2    25   Ricky    3.98
3    23     Vin    2.56
4    30   Steve    3.20
5    29   Smith    4.60
6    23    Jack    3.80
7    34     Lee    3.78
8    40   David    2.98
9    30  Gasper    4.80
10   51  Betina    4.10
11   46  Andres    3.65

In [ ]:
sum()

In [68]:
import pandas as pd
import numpy as np
#Create a Dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
'Lee','David','Gasper','Betina','Andres']),
'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}
#Create a DataFrame
df = pd.DataFrame(d)
print df.sum()

Age                                                     382
Name      TomJamesRickyVinSteveSmithJackLeeDavidGasperBe...
Rating                                                44.92
dtype: object

In [ ]:
axis=1

In [69]:
import pandas as pd
import numpy as np
#Create a Dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
'Lee','David','Gasper','Betina','Andres']),
'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}
#Create a DataFrame
df = pd.DataFrame(d)
print df.sum(1)

0     29.23
1     29.24
2     28.98
3     25.56
4     33.20
5     33.60
6     26.80
7     37.78
8     42.98
9     34.80
10    55.10
11    49.65
dtype: float64

In [ ]:
mean()

In [71]:
import pandas as pd
import numpy as np
#Create a Dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
'Lee','David','Gasper','Betina','Andres']),
'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}
#Create a DataFrame
df = pd.DataFrame(d)
print df.mean()

Age       31.833333
Rating     3.743333
dtype: float64

In [ ]:
std()

In [72]:
import pandas as pd
import numpy as np
#Create a Dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
'Lee','David','Gasper','Betina','Andres']),
'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}
#Create a DataFrame
df = pd.DataFrame(d)
print df.std()

Age       9.232682
Rating    0.661628
dtype: float64

In [ ]:
Functions & Description

In [ ]:
Summarizing Data

In [73]:
#describe
#ex1
import pandas as pd
import numpy as np
#Create a Dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
'Lee','David','Gasper','Betina','Andres']),
'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}
#Create a DataFrame
df = pd.DataFrame(d)
print df.describe()

             Age     Rating
count  12.000000  12.000000
mean   31.833333   3.743333
std     9.232682   0.661628
min    23.000000   2.560000
25%    25.000000   3.230000
50%    29.500000   3.790000
75%    35.500000   4.132500
max    51.000000   4.800000

In [74]:
#ex2
import pandas as pd
import numpy as np
#Create a Dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
'Lee','David','Gasper','Betina','Andres']),
'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}
#Create a DataFrame
df = pd.DataFrame(d)
print df.describe(include=['object'])

         Name
count      12
unique     12
top     Ricky
freq        1

In [75]:
#ex3
import pandas as pd
import numpy as np
#Create a Dictionary of series
d={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack',
'Lee','David','Gasper','Betina','Andres']),
'Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])
}
#Create a DataFrame
df = pd.DataFrame(d)
print df. describe(include='all')

              Age   Name     Rating
count   12.000000     12  12.000000
unique        NaN     12        NaN
top           NaN  Ricky        NaN
freq          NaN      1        NaN
mean    31.833333    NaN   3.743333
std      9.232682    NaN   0.661628
min     23.000000    NaN   2.560000
25%     25.000000    NaN   3.230000
50%     29.500000    NaN   3.790000
75%     35.500000    NaN   4.132500
max     51.000000    NaN   4.800000

In [ ]:
Function Application:

In [ ]:
Table-wise Function Application

In [ ]:
adder function

In [77]:
import pandas as pd
import numpy as np
def adder(ele1,ele2):
    return ele1+ele2
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df.pipe(adder,2)
print df

       col1      col2      col3
0 -2.141637 -1.397265  1.414576
1  0.769966  0.157269  0.289440
2  0.470041  0.784239  0.908393
3 -0.116496 -0.514481  2.425613
4 -2.381215 -1.446378 -1.687101

In [ ]:
Row or Column Wise Function Application

In [78]:
#ex1
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df.apply(np.mean)
print df

       col1      col2      col3
0 -0.215256 -0.191655  0.223005
1 -0.401656  0.806503 -0.873745
2 -0.422260  1.495031 -0.518497
3  0.041903  0.238569 -2.083152
4  1.673035  1.803564  0.904311

In [79]:
#ex2
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df.apply(np.mean)
print df

       col1      col2      col3
0  1.147579 -0.472578 -0.167358
1  1.725130  0.361571 -1.156502
2 -2.793772 -2.251630  1.594616
3  0.645052  0.953153 -0.539024
4  1.228225  0.002918 -0.525785

In [80]:
#ex3
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
df.apply(lambda x: x.max() - x.min())
print df

       col1      col2      col3
0  0.296060  1.943395  0.705654
1  1.653555  0.520227  1.164008
2 -0.379043  0.446202 -0.901990
3  0.241834  2.126520  1.357478
4 -0.337034 -0.033726 -1.904758

In [ ]:
Element Wise Function Application

In [81]:
#ex1
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
# My custom function
df['col1'].map(lambda x:x*100)
print df

       col1      col2      col3
0  1.343524  0.792712  0.688519
1  0.174178 -0.581574 -0.578456
2  1.463173  0.702547  1.519580
3 -0.462646 -0.232981  0.769536
4  0.323681  0.019508 -0.441649

In [82]:
#ex2
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(5,3),columns=['col1','col2','col3'])
# My custom function
df['col1'].map(lambda x:x*100)
print df

       col1      col2      col3
0 -0.199366 -1.622743  1.107525
1 -0.739064  0.799985  0.788049
2  1.063601  0.035929 -0.201437
3  0.623677 -0.651701  1.138315
4  0.170822 -0.578864 -1.552697

In [ ]:
Reindexing

In [83]:
#ex
import pandas as pd
import numpy as np
N=20
df = pd.DataFrame({
'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
'x': np.linspace(0,stop=N-1,num=N),
'y': np.random.rand(N),
'C': np.random.choice(['Low','Medium','High'],N).tolist(),
'D': np.random.normal(100, 10, size=(N)).tolist()
})
#reindex the DataFrame
df_reindexed = df.reindex(index=[0,2,5], columns=['A', 'C', 'B'])
print df_reindexed

           A       C   B
0 2016-01-01  Medium NaN
2 2016-01-03  Medium NaN
5 2016-01-06    High NaN

In [ ]:
Reindex to Align with Other Objects

In [84]:
#ex
import pandas as pd
import numpy as np
df1=pd.DataFrame(np.random.randn(10,3),columns=['col1','col2','col3'])
df2=pd.DataFrame(np.random.randn(7,3),columns=['col1','col2','col3'])
df1 = df1.reindex_like(df2)
print df1

       col1      col2      col3
0  0.809601  0.095790  0.030656
1  0.699918  1.921859 -0.288012
2 -0.360243 -1.865652 -0.336238
3  0.472139  0.877261 -1.526993
4 -1.283846 -1.191255 -1.036393
5  0.919420 -0.269188 -0.143262
6  0.172473  0.677453  0.639430

In [ ]:
Filling while ReIndexing

In [85]:
#ex
import pandas as pd
import numpy as np
df1=pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df2=pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])
# Padding NAN's
print df2.reindex_like(df1)
# Now Fill the NAN's with preceding Values
print ("Data Frame with Forward Fill:")
print df2.reindex_like(df1,method='ffill')

       col1      col2      col3
0 -0.066956  0.400210  1.844943
1  0.730622 -1.946118  0.174692
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
Data Frame with Forward Fill:
       col1      col2      col3
0 -0.066956  0.400210  1.844943
1  0.730622 -1.946118  0.174692
2  0.730622 -1.946118  0.174692
3  0.730622 -1.946118  0.174692
4  0.730622 -1.946118  0.174692
5  0.730622 -1.946118  0.174692

In [ ]:
Limits on Filling while Reindexing

In [86]:
#Example
import pandas as pd
import numpy as np
df1=pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
df2=pd.DataFrame(np.random.randn(2,3),columns=['col1','col2','col3'])
# Padding NAN's
print df2.reindex_like(df1)
# Now Fill the NAN's with preceding Values
print ("Data Frame with Forward Fill limiting to 1:")
print df2.reindex_like(df1,method='ffill',limit=1)

       col1      col2      col3
0 -0.176321  0.465430  1.864113
1  1.245900  0.319147  0.740243
2       NaN       NaN       NaN
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN
Data Frame with Forward Fill limiting to 1:
       col1      col2      col3
0 -0.176321  0.465430  1.864113
1  1.245900  0.319147  0.740243
2  1.245900  0.319147  0.740243
3       NaN       NaN       NaN
4       NaN       NaN       NaN
5       NaN       NaN       NaN

In [ ]:
Renaming

In [87]:
import pandas as pd
import numpy as np
df1=pd.DataFrame(np.random.randn(6,3),columns=['col1','col2','col3'])
print df1
print ("After renaming the rows and columns:")
print df1.rename(columns={'col1' : 'c1', 'col2' : 'c2'},
index={0 : 'apple', 1 : 'banana', 2 : 'durian'})

       col1      col2      col3
0 -0.850448 -0.193012  0.946994
1 -0.537959 -0.697536  0.292950
2 -0.244542 -0.044458  0.988450
3 -1.808634 -0.656775 -0.488619
4  1.679242 -0.906350 -0.962069
5  0.401108  0.274716  0.051565
After renaming the rows and columns:
              c1        c2      col3
apple  -0.850448 -0.193012  0.946994
banana -0.537959 -0.697536  0.292950
durian -0.244542 -0.044458  0.988450
3      -1.808634 -0.656775 -0.488619
4       1.679242 -0.906350 -0.962069
5       0.401108  0.274716  0.051565

In [ ]:
iteration

In [ ]:
Iterating a DataFrame

In [89]:
import pandas as pd
import numpy as np
N=20
df = pd.DataFrame({
'A': pd.date_range(start='2016-01-01',periods=N,freq='D'),
'x': np.linspace(0,stop=N-1,num=N),
'y': np.random.rand(N),
'C': np.random.choice(['Low','Medium','High'],N).tolist(),
'D': np.random.normal(100, 10, size=(N)).tolist()
})
for col in df:
    print col

A
C
D
x
y

In [ ]:
iteritems()

In [91]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
for key,value in df.iteritems():
    print key,value

col1 0    0.161022
1    0.248167
2    1.870329
3   -1.551179
Name: col1, dtype: float64
col2 0    0.086778
1   -1.161962
2    1.177904
3   -0.917369
Name: col2, dtype: float64
col3 0    2.647645
1   -2.197240
2    0.532477
3   -0.332720
Name: col3, dtype: float64

In [ ]:
iterrows()

In [93]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
for row_index,row in df.iterrows():
    print row_index,row

0 col1   -0.798109
col2    0.273761
col3   -1.010070
Name: 0, dtype: float64
1 col1    0.982128
col2    1.091787
col3    0.900267
Name: 1, dtype: float64
2 col1   -0.971719
col2   -0.904829
col3    1.428457
Name: 2, dtype: float64
3 col1    0.096002
col2    0.290925
col3    1.150662
Name: 3, dtype: float64

In [ ]:
itertuples()

In [94]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),columns=['col1','col2','col3'])
for row in df.itertuples():
        print row

Pandas(Index=0, col1=-0.5672193474412524, col2=-0.6387933405132312, col3=-0.6552191420145828)
Pandas(Index=1, col1=-0.08601569163987306, col2=0.016899579371577968, col3=1.2217858943702686)
Pandas(Index=2, col1=2.01681667022601, col2=-1.3015756584193792, col3=0.4199280739706013)
Pandas(Index=3, col1=1.8117391752810743, col2=-0.1877048878794296, col3=-0.5113710109348899)

In [ ]:
sorting

In [96]:
#ex
import pandas as pd
import numpy as np
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns=['col2','col1'])
print unsorted_df

       col2      col1
1  0.005396 -0.778453
4  0.105958  0.704321
6  1.158289  0.088813
2 -1.360407 -0.704892
3 -1.023266 -1.251578
5 -0.094084 -0.210906
9  0.160171  0.855273
8  0.122057  0.038330
0  0.156773 -0.988272
7  0.122719 -0.670220

In [ ]:
By Label

In [98]:
import pandas as pd
import numpy as np
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns=['col2','col1'])
sorted_df=unsorted_df.sort_index()
print sorted_df

       col2      col1
0  1.242734  0.451743
1 -0.064059  0.532754
2 -0.769183 -0.877149
3 -1.345401  0.486245
4 -0.460426 -0.623700
5 -1.376895 -1.589088
6 -2.210457  1.619352
7  0.078323 -0.407968
8  0.845212 -1.902356
9  1.975494  1.569888

In [ ]:
Order of Sorting

In [99]:
import pandas as pd
import numpy as np
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns=['col2','col1'])
sorted_df=unsorted_df.sort_index(ascending=False)
print sorted_df

       col2      col1
9 -0.029409  0.487375
8 -2.281765  1.066342
7 -1.567611  0.873237
6 -0.601038 -1.972769
5 -1.130210  0.514776
4 -1.564302 -0.784692
3 -0.623285 -0.305796
2  0.178193 -0.149944
1  0.497759  0.502643
0 -0.613535  1.371114

In [ ]:
Sort the Columns

In [100]:
import pandas as pd
import numpy as np
unsorted_df=pd.DataFrame(np.random.randn(10,2),index=[1,4,6,2,3,5,9,8,0,7],columns=['col2','col1'])
sorted_df=unsorted_df.sort_index(axis=1)
print sorted_df

       col1      col2
1  0.375443  0.515868
4  0.023356 -2.204526
6  0.800514 -0.260825
2  2.549715  1.275416
3  1.013658  1.921313
5  0.202481 -1.982378
9 -0.949935  1.071045
8  0.006613 -0.824019
0  1.560203 -1.156549
7  0.228900  1.313729

In [ ]:
By Value

In [102]:
import pandas as pd
import numpy as np
unsorted_df=pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df=unsorted_df.sort_values(by='col1')
print sorted_df

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

In [104]:
#'by' argument takes a list of column values.
import pandas as pd
import numpy as np
unsorted_df=pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df=unsorted_df.sort_values(by=['col1','col2'])
print sorted_df

   col1  col2
2     1     2
1     1     3
3     1     4
0     2     1

In [ ]:
Sorting Algorithm

In [106]:
import pandas as pd
import numpy as np
unsorted_df=pd.DataFrame({'col1':[2,1,1,1],'col2':[1,3,2,4]})
sorted_df=unsorted_df.sort_values(by='col1' ,kind='mergesort')
print sorted_df

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1

In [ ]:
Working with Text Data

In [ ]:
create a Series and see how all the functions work.

In [3]:
import pandas as pd
import numpy as np
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t',np.nan, '1234','Steve Smith'])
print s

0             Tom
1    William Rick
2            John
3         Alber@t
4             NaN
5            1234
6     Steve Smith
dtype: object

In [ ]:
lower()

In [4]:
import pandas as pd
import numpy as np
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t',np.nan, '1234','Steve Smith'])
print s.str.lower()

0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6     steve smith
dtype: object

In [ ]:
upper()

In [5]:
import pandas as pd
import numpy as np
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t',np.nan, '1234','Steve Smith'])
print s.str.upper()

0             TOM
1    WILLIAM RICK
2            JOHN
3         ALBER@T
4             NaN
5            1234
6     STEVE SMITH
dtype: object

In [ ]:
len()

In [6]:
import pandas as pd
import numpy as np
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t',np.nan, '1234','Steve Smith'])
print s.str.len()

0     3.0
1    12.0
2     4.0
3     7.0
4     NaN
5     4.0
6    11.0
dtype: float64